body {
  margin-top: 20px;
}

.chat-online {
  color: #34ce57;
}

.chat-offline {
  color: #e4606d;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  /* max-height: 800px; */
  height: 600px;
  overflow-y: scroll;
}

.chat-message-left,
.chat-message-right,
.chat-message-center {
  display: flex;
  flex-shrink: 0;
}

.chat-message-left {
  margin-right: auto;
  width: 100%;
}

.chat-message-center {
  margin: 0 auto;
}

.chat-message-right {
  flex-direction: row-reverse;
  margin-left: auto;
}
.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}
.flex-grow-0 {
  flex-grow: 0 !important;
}
.border-top {
  border-top: 1px solid #dee2e6 !important;
}

body {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.8)
    ),
    url("background.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
}
